<div class='container'>
  <h1>Projects</h1>
  <h5>For a complete list of my projects, feel free to explore my <a href='https://github.com/harshildp' target="_blank">GitHub</a>. A couple of my proud creations are showcased below.</h5>
  <h3>Events Website - Deployed Demo</h3>
  <p>The link below leads to another app hosted on this server. The purpose of this app is to serve as an interactable demo
    of my capabilities. The Events app is a meetup style concept website built in Ruby on Rails complete with test driven
    development, Twitter Bootstrap, CSS/Sass, Javascript with Jquery and a postreSQL database. It builds on basic CRUD operations
    and RESTful architecture to allow users to login/register, host new events, edit thier profile and events, invite others
    to thier events and join or leave other events. Data is showcased to the user based on thier location, timezone and thier
    status as host or attendee to events. Furthermore, I am confident in my ability to recreate and build on similar projects
    in any of the languages below.</p>
  <p>Please feel free to register and play around with the website. You may also sign in with an already fleshed out account
    with these credentials:</p>
  <p>Username: Password: </p>
  <a href=''>To Demo</a>
  <% @projects.each do |p| %>
    <div class='project'>
      <h3>
        <%= p['name'] %>
      </h3>
      <p>
        <%= p['desc'] %>
      </p>
      <p><i>Technologies used:
        <%= p['tech'] %>
      </i></p>
      <a href=<%=p [ 'git'] %> target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i> Github</a>
      <% if p['demo'] %>
        |
        <a href=<%=p [ 'demo'] %> target="_blank">
          <i class="fa fa-youtube-play" aria-hidden="true"></i> Video Demo</a>
        <% end %>
    </div>
    <% end %>
</div>